@import url("Tantek_Celik_whitespace_reset.css");

body {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #45494d;
  text-align: center;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  padding-top: 100px;
}

header {
  padding-bottom: 40px;
}

header h1 {
  margin-bottom: 50px;
}

header h1 a {
  display: inline-block;
  width: 298px;
  height: 243px;
  text-indent: -99999px;
  background: transparent url("images/logo.png") 0 0 no-repeat;
}

nav {
  font-size: 26px;
  text-transform: uppercase;
}

nav li {
  display: inline;
  padding: 0 40px;
}

nav a {
  color: #cacaca;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: #6db9ff;
}

main {
  padding-top: 120px;
  background: white;
}

h2 {
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
}

h2:before, h2:after {
  display: inline-block;
  padding: 0 25px;
  font-size: 36px;
  content: "\2022";
}

h3 {
  font-size: 24px;
  color: #3e59b2;
  font-weight: bold;
  padding-bottom: 20px;
}

article {
  padding-bottom: 120px;
}

article p {
  padding: 0 120px;
}

.column {
  max-width: 1000px;
  margin: 0 auto;
}

footer {
  padding: 80px 0;
  background-color: #e7e7e7;
  color: #b2b2b2;
}

footer p {
  padding-bottom: 35px;
}

footer li {
  display: inline-block;
  padding: 0 60px;
}

footer li a {
  display: block;
  width: 46px;
  height: 46px;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

.facebook {
  background-position: 0 33.33%;
}

.email {
  background-position: 0 66.67%;
}

.instagram {
  background-position: 0 100%;
}

#projects img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px 55px 30px;
}

#team li {
  display: inline-block;
  padding: 0 30px 240px 30px;
  font-size: 24px;
}

#team img {
  display: block;
  padding-bottom: 30px;
}

#team li a {
  text-decoration: none;
  color: #3e59b2;
}

@media (max-width: 875px) {
  #team li {
    width: 42%;
  }
  #team li img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  header h1 a {
    width: 220px;
    height: 180px;
    background-size: cover;
  }
  header h1 {
    margin-bottom: 30px;
  }
  header {
    padding-bottom: 30px;
  }
  main {
    padding-top: 80px;
  }
  article p {
    padding: 0 20px;
    text-align: justify;
  }
  footer li {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 0;
    font-size: 16px;
  }
  header {
    padding: 20px 15px;
  }
  header h1 {
    float: left;
  }
  header h1 a {
    width: auto;
    height: 40px;
    padding: 10px 0 0 55px;
    text-indent: 0;
    color: white;
    background-size: 90px auto;
    background-position: -20px 0;
    text-decoration: none;
    font-size: 22px;
  }
  nav {
    float: right;
    display: block;
    font-size: 16px;
    text-align: right;
  }
  nav li {
    display: block;
    padding: 0 20px 10px 0;
  }
  main {
    clear: both;
    content: "";
    display: block;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
}